<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @design_version.project_id %>
</p>

<p>
  <strong>Html:</strong>
  <%= @design_version.html %>
</p>

<p> <%= image_tag @design_version.image.url %> </p>
<p> <%= image_tag @design_version.image.url(:thumb) %> </p>

<%#= link_to 'Edit', edit_design_version_path(@design_version) %> |
<%#= link_to 'Back', design_versions_path %>
