<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @product.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Product category:</strong>
  <%= @product.product_category_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
